{% extends "layout/base.html" %}

{% block content %}
<section name="post-status" id="post-status">
    <div class = "container">
    <h2>Update Status</h2>
    <form id="form" method="POST" action="{% url 'app-status:post-status' %}">
        {% csrf_token %}
        {{ status_form }}
        <br/>
        <input id="submit" type="submit" class="btn btn-info" value="Post">
        </form>
    </div>
</section>

<section name="my-status" id="my-status">
    <div class="container">
        <h1>Posted Status</h1>
        <div class="flex">
            {% if statuses %}
            {% for status in statuses %}
            <div class="flex-item">
                <div class="all-status">
                    <div class="all-status-name">
                        {{status.author}}
                    </div>
                    <div class="all-status-content">
                        <center>{{status.content}}</center>
                    </div>
                    <div class="all-status-date-added">
                        Posted {{status.posted_date}}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-warning text-center">
                <strong>Oops!</strong> Belum ada status yang terposting saat ini.
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %} 
