body{
    margin-top: 20px;
    height: 100%;
  }

.container{
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-fixed-top{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color:transparent; } }

h1 { 
    font: bold 150% Consolas, Monaco, monospace;
    border-right: 0.1em solid black;
    width: 10em; 
    width: 21ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
               blink-caret 1s alternate infinite ;
}
h2 { 
  font: bold 150% Consolas, Monaco, monospace;
  border-right: 0.1em solid white;
  color: white;
  width: 10em; 
  width: 21ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
             blink-caret 1s alternate infinite ;
}

.btn-info {
  position: relative;
  left:495px;
}

section{
  margin-left: none;
  margin-right: none;
  margin-bottom: 50px;
}

footer p{
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  #contact form {
      width: 290px;
  }
  .flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-right: 0px;
    margin-left: 0px;
    }
  .flex-item{
    padding: 0 15px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    }
  }    

@media only screen and (min-width: 768px) {
  .flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 0px;
    margin-left: 0px;
    }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;
    }
  }

.all-status{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.all-status:hover{
  top: -5px;
  box-shadow : 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.all-status:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.all-status .all-status-name {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: purple;
  padding: 10px 10px 10px;
}
.all-status .all-status-date-added {
  font-size: 12px;
  padding: 0 10px;
  background: #fff;
}
.all-status .all-status-content {
  padding: 10px 25px;
  font-size: 18px;
  z-index: 5;
  background: #fff;
  height: 100px;
  text-align: center;
  overflow: auto;
}
